.screen {
    width: 100%;
    height: 100%;
}

.form-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-background {
    position: fixed;
    z-index: -1;
    /*right: 0;
    left: 0;*/
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

.map-options {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
}